* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;
}

.profile {
    background-color: #E2D6CA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin: 10px 50px;
    height: 400px;
}

.social-links {
    margin-top: 20px;
    background-color: white;
    padding: 2px 0 2px 0;
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

main p {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

hr {
    color: rgba(66, 118, 236, 1);
    width: 70px;
    margin-bottom: 10px;
}

.btn {
    width: 100px;
    padding: 5px;
    border-radius: 35px;
    text-transform: uppercase;
    border: none;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: rgba(66, 118, 236, 1);
    color: white;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid black;
}

.social-links img {
    width: 25px;
    height: 25px;
}